# Traitement d'image et OCR
numpy
opencv-python
scikit-image
pillow
pytesseract

# Analyse de données et visualisation
pandas
matplotlib
seaborn
scikit-learn

# Modèle pré-entraîné Hugging Face
transformers
torch
torchvision

# Modèle de langage multimodal (Ollama)
ollama

# Utilitaires
tqdm
